.lg-header-image{
	background-image: url("../../dist/images/ML.jpg");
	background-repeat: no-repeat;
   	background-size: contain;
   	height: 570px;
   	width: 100%;
   	margin-bottom: 50px;
   	position: center;
   	padding-left: 40px;
   	margin-top: 30px;
}